<%- include("header")-%>
<div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum libero maiores
    illo sed, non hic. Commodi sapiente quam sint beatae voluptatem excepturi
    maiores quo, nobis quia minus inventore culpa pariatur id illo voluptas
    adipisci blanditiis doloribus quaerat praesentium, alias deleniti magnam sed
    officiis. Voluptates a fugiat eligendi, vitae perferendis quidem?
  </p>
</div>

<%- include("footer")-%>
